{% extends "base.twig" %}
{% block header %}{% endblock %}
{% block content %}
<form method="POST">
  <div class="form-group">
    <label for="me">Ich bin</label>
    <select class="form-control" name="me" id="me">
    {% for courseNr, courseData in data %}
        <optgroup label="Kurs {{ courseNr }}">
            {% for person in courseData %}
                <option value="{{ person.id }}">{{ person.name }} ({{ person.study}})</option>
            {% endfor %}
        </optgroup>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    {% for courseNr, courseData in data %}
    <fieldset>
    <legend>Kurs {{ courseNr }}</legend>
    {% for person in courseData %}
    <div class="checkbox">
      <label><input type="checkbox" value="{{ person.id }}" name="knows[{{ person.id }}]">{{ person.name }} ({{ person.study}})</label>
    </div>
    {% endfor %}
    </fieldset>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}